// app global css in SCSS form

.body--dark {
    & .q-table__container, & .q-table__container *, .q-header, .q-footer, .q-drawer {
        border-color: $border-dark !important;
    }
    .q-separator {
        background: $border-dark !important;
    }
    .q-splitter__separator {
        background: $border-dark !important;
    }
    .lili-grid {
        .title {
            background: $dark !important;
            color: #ccc;
        }
        .grid-cont {
            border-color: $dark !important;
        }
        &.has-title .grid-cont {
            border-color: $dark !important;
        }
    }
    /*
        .lili-grid {
        .title {
            background: #373a3f !important;
            color: #ccc;
        }
        .grid-cont {
            background: $dark;
            border-color: #373a3f !important;
        }
        &.has-title .grid-cont {
            border-color: #373a3f !important;
        }
    }
    */
    .panel-right-bg {
        background: lighten($dark-page, 2%) !important;
    }
    label:not(.q-field) {
        color: #ccc;
        margin-bottom: 4px;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
    }
    .inline_default {
        background: $dark;
    }
    thead {
        th {
            color: $grey-6;
        }
    }
    .workload-btn {
        color: $grey-5;
    }
}

.body--light {
    background: darken(#fff, 5%) !important;
    label:not(.q-field) {
        color: #696969;
        margin-bottom: 4px;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
    }
    .panel-left-bg {
        background: darken(#fff, 3%) !important;
    }
    .panel-right-bg {
        background: darken(#fff, 5%) !important;
    }
    .q-list {
        color: $grey-9;
    }
    .lili-grid {
        .title {
            background: darken(#fff, 12%) !important;
            color: #000;
        }
        .grid-cont {
            background: #fff;
            border-color: darken(#fff, 12%) !important;
        }
        &.has-title .grid-cont {
            border-color: darken(#fff, 12%) !important;
        }
    }

    .inline_default {
        background: darken(#fff, 12%);
    }
    thead {
        th {
            color: $grey-7;
        }
    }
    .workload-btn {
        color: $grey-8;
    }
}

.output-positive, .output-negative, .output-primary {
  padding: 6px 10px;
  border-radius: 2px;
}
.output-positive {
  background-color: $green-9;
}
.output-negative {
  background-color: darken($red-10, 15%);
}
.output-primary {
  background-color: $primary;
}

.locked-page * {
  filter: blur(1px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  
  cursor: default;
  border-radius: 4px;
  .locked-text {
    margin-top: 5px;
    font-size: 12px;
    opacity: .7;
  }
}
.page-title {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    opacity: .7;
}

a:not(.q-link, .q-btn) {
    color: $primary;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

thead {
    th {
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        padding: 10px 0;
    }
}
.outcome {
    color: white;
}