// app global css in SCSS form

.body--dark {
    & .q-table__container, & .q-table__container * {
        border-color: $border-dark !important;
    }
    .q-separator {
        background: $border-dark !important;
    }
    .q-splitter__separator {
        background: $border-dark !important;
    }
    .lili-grid {
        .title {
            background: $dark !important;
            color: #ccc;
        }
        .grid-cont {
            border-color: $dark !important;
        }
        &.has-title .grid-cont {
            border-color: $dark !important;
        }
    }
    .bg-dark-1 {
        background: $dark !important;
    }
    label:not(.q-field) {
        color: #ccc;
        margin-bottom: 4px;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
    }
}

.body--light {
    label:not(.q-field) {
        color: #696969;
        margin-bottom: 4px;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
    }
}
